.card-container{
    display: flex;
    display: inline-flex;
}
.productcardspace{
    width: 20%;
}
.cardproduct{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 4px 4px rgb(74, 64, 64);
}