.products-view {
    // background-color: gray;
    min-height: 87vh;
    display: flex;
    justify-content: center;
    
    .products-view-container {
        width: 80%;
        //background-color: chocolate;
        display: flex;
        gap: 20px;

        .sidebar-filters {
            flex: 1;
            // background-color: crimson;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .products {
            flex: 5;
            // background-color: darksalmon;

            form {
                display: flex;
                justify-content: center;
                padding: 20px 0;
                .search {
                    width: 90%;
                    padding: 10px 25px;
                    border-radius: 30px;
                }
            }

            .products-container {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}