

p:hover{
    color: rgb(36, 101, 154);
}

.cardprofile{
    text-align: center;
    background-color: rgba($color: #8948aa, $alpha: 1.0);
svg{
    margin-bottom: 7px;
}

p{
    font-size: larger;
}
}

.ant-layout{
    margin-top: 10vh;
    display: flex;
    flex-wrap: nowrap;
    max-height: 40%;
}
h4{
    text-align: center;
}

.profile-container {
    display: flex;

    .menuProfile {
        flex: 1;
        font-weight: bolder;
        display: flex;
        padding: 60px;
        flex-direction: column;
        align-items: center;
        border-right:2px solid blue ;
        margin-top: 7%;
        cursor: pointer;
        font-size: 20px;
    p{
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    svg{
        margin-bottom: 7px;
    }
       
    p:hover{
        background-color: rgb(14, 190, 209);
        border-radius: 5px;
        padding: 10px;
    }
   
    }

    .contentProfile {
        flex: 5;
        margin-top: 10%;
    svg{
        margin-bottom: 7px;
    }
        
    }
    .loggeduser{
        margin-left: 45%;
        font-size: larger ;
        font-weight: 500;
    }

}

.orders-container {
    gap: 10px;
    margin-bottom: 5px;

    .order {
        border: 1px solid black;
        border-radius: 20px;
        width: 70%;

        .order-header {
            background-color: rgb(38, 189, 189);
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: center;
        }

        .order-products {
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 20px 20px;
            gap: 10px;

            img {
                width: 30%;
            }
        }
    }
}