.site-card-border-less-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p:hover{
    color: rgb(36, 101, 154);
}

.cardprofile{
    text-align: center;
    background-color: bisque;
}

.ant-layout{
    margin-top: 10vh;
    display: flex;
    flex-wrap: nowrap;
    max-height: 40%;
}
h4{
    text-align: center;
}

.profile-container {
    display: flex;

    .menuProfile {
        flex: 1;
        font-weight: bolder;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
    }

    .contentProfile {
        flex: 5;
    }

}

.orders-container {
    gap: 10px;

    .order {
        border: 1px solid black;
        border-radius: 20px;
        width: 70%;

        .order-header {
            background-color: aqua;
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: center;
        }

        .order-products {
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 20px 20px;
            gap: 10px;

            img {
                width: 30%;
            }
        }
    }
}