.site-card-border-less-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuProfile{
    font-weight: bolder;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-left: 1px solid rgb(15, 15, 22);
    border-right: 1px solid rgb(31, 31, 46);
    cursor: pointer;
}
p:hover{
    background-color: rgb(36, 101, 154);
}
.containerprofile{
    display: flex;
    justify-content: space-around;
}
.cardprofile{
    padding: 15px;
    margin: 10vh 90vh 0 0;
    text-align: center;
    background-color: bisque;

}
.ant-layout{
    margin-top: 10vh;
    display: flex;

    flex-wrap: nowrap;
    max-height: 50%;
}
h4{
    text-align: center;
}