.reviews-container{
    gap: 40px;
    font-size: 14px;

    .review-wrapper {
        width: 70%;

        &.order-1  {
            border-bottom: 1px solid rgba(0, 0, 0, 0.35);
        }

        .your-review {
            font-size: 19px;
            padding: 15px 0;
        }

        .user-review {
            width: 100%;
            display: flex;
            gap: 15px;

            .user-icon-container {
                width:  40px;
                height: 40px;

                img {
                    width: 100%;
                }
            }

            .review-desc {
                flex: 1;
                display: flex;
                flex-direction: column;

                .header {
                    gap: 20px;
                    position: relative;

                    .author {   
                        font-weight: bold;
                    }

                    .date {
                        position: absolute;
                        right: 0;
                        font-weight: 200;
                    }

                }
            }

            .content {
                margin: 10px 0px;
            }

            .review_img {
                height: 50px;

                img {
                    height: 100%
                }
            }

            .buttons-my-review {
                gap: 10px;
                padding-bottom: 20px;
            }
        }
    }
}