.home {
    text-align: center;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infohome {
    margin: 10vh;
}
h4 {
    align-items: baseline;
}
.footerdiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 50px;
}
.item1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: justify;
    width: 20%;
}

.item2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    padding: 0 20px;
    margin: 0 10px 0 10px;
    text-align: justify;
    border: 2px solid black;
    border-top: white;
    border-bottom: white;
}

.item3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 20%;
    text-align: justify;
}
