.registerfieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 4px 4px rgb(160, 151, 163);
    height: 60vh;
    width: 70vh;
}