.product-overview {
    min-height: 87vh;
    display: flex;
    justify-content: center;

    .product-overview-container {
        width: 80%;
        display: flex;
        flex-direction: column;

        .product-overview-info {
            display: flex;
            min-height: 45vh;

            .product-img {
                flex: 1;
            }

            .product-description {
                flex: 1;

                .name {
                    font-weight: bold;
                    font-size: 30px;
                    text-transform: uppercase;
                }

                .add-cart {
                    width: 30%;
                }
            }
        }
    }
}