.product-overview {
    min-height: 87vh;
    padding: 2% 0;
    display: flex;
    justify-content: center;

    .product-overview-container {
        width: 80%;
        display: flex;
        flex-direction: column;

        .product-overview-info {
            display: flex;
            min-height: 45vh;

            .product-img {
                flex: 1;
            }

            .product-description {
                flex: 1;

                .name {
                    font-weight: bold;
                    font-size: 30px;
                    text-transform: uppercase;
                }

                .add-cart {
                    width: 30%;
                }
            }
        }

        .reviews {

            .reviews-header {
                font-size: 26px;
                text-align: center;
                padding: 20px 0;
                border-top: 1px solid rgba(99, 96, 96, 0.337);
                border-bottom: 1px solid  rgba(99, 96, 96, 0.337);
                
            }
        }
    }
}