span{
    font-size: 25px;
}
form{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(49,51,70,1) 50%, rgba(255,255,255,1) 100%);
    box-shadow: 4px 4px grey;
    height: 35vh;
    width: 70vh;

    input{
        width: 300px;
        margin-bottom: 20px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 4px 4px grey;
        padding: 12px;

        &:hover{
            background-color: rgb(131, 171, 171);
        }
    }

    

   
}

