#basic{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: -70px;
}
.containerlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

h4{
    margin: 0 40px 40px 0;
}
}

.input1{
    width:400px;
}



